# Credenciais Postgres (mesmas pros dois bancos)
POSTGRES_USER=pagamentos_user
POSTGRES_PASSWORD=pagamentos_pass

# Nomes dos databases
POSTGRES_DB_PROD=pagamentos
POSTGRES_DB_TEST=pagamentos_test

# URLs de conexão (usadas a partir da Sessão 2 com SQLAlchemy)
DATABASE_URL_PROD=postgresql+psycopg2://pagamentos_user:pagamentos_pass@localhost:5432/pagamentos
DATABASE_URL_TEST=postgresql+psycopg2://pagamentos_user:pagamentos_pass@localhost:5433/pagamentos_test

# URL do fake-gateway (usada a partir da Sessão 3 com httpx)
GATEWAY_URL=http://localhost:8001